@model CA.Portal.Models.BaseUserModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">This self service portal will assist you in requesting, managing (renewing and revoking) and monitoring your SSL Certificates within your organisation.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Requesting</h2>
        <p>
            If you need a certificate, please ensure you have already generated your CSR, then click Request Certificate
        </p>
        <p>@Html.ActionLink("Request Certificate", "RequestNew", "Certificates", new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Browse</h2>
        <p>Looking for an existing certificate? Browse the certificates you have requested.</p>
        <p>@Html.ActionLink("Browse Certificates", "Index", "Certificates", new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Monitor</h2>
        <p>Do you know when your certificates expire? I do.</p>
        <p>@Html.ActionLink("Monitor Certificates", "Monitor", "Certificates", new { @class = "btn btn-default" })</p>
    </div>
</div>